@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Open Sans";

  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans Light"), local("OpenSans-Light"),
  url("../fonts/OpenSans-Light.woff2") format("woff2"),
  url("../fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
  url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}


body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #464646;
}




.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

