/* ------------------------- Global ------------------------- */
@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Open Sans";

  src: local("Open Sans Regular"), local("OpenSans-Regular"),
  url("../fonts/OpenSans-Regular.woff2") format("woff2"),
  url("../fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans Light"), local("OpenSans-Light"),
  url("../fonts/OpenSans-Light.woff2") format("woff2"),
  url("../fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy ExtraBold"), local("Gilroy-ExtraBold"),
  url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
  url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}
@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";

  src: local("Gilroy Light"), local("Gilroy-Light"),
  url("../fonts/Gilroy-Light.woff2") format("woff2"),
  url("../fonts/Gilroy-Light.woff") format("woff");
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

body {
  margin: 0;
  padding: 0;

  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #000000;
  letter-spacing: 0.01em;

  background-color: #ffffff;
}

li {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
}


.main-header {
  background-color: #f7e296;
}
.btn {
  font-weight: 900;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;

/* background-color: inherit; */
  border: none;
}
/* ============================== INDEX HTML ============================== */
/* ------------------------- header ------------------------- */

.main-logo {
  font-weight: 900;
  font-size: 48px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  color: black;
}

.main-header a,
main a {
  color: black;
}
.site-navigation li {
  font-weight: 900;
  font-size: 18px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.goods-navigation li {
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
}

/* ------------------------- main ------------------------- */
/* --------------- sliders --------------- */
.slider .slide-content b {
  font-weight: 900;
  font-size: 47px  ;
  line-height: 56px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}
.slider .slider-table tr:nth-child(1) {
  font-weight: 300;
  font-size: 36px  ;
  line-height: 48px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}
.slider .slider-table tr:nth-child(2) {
  font-size: 13px;
  line-height: 20px;
}
/* --------------- device types --------------- */
.device-types p {
  font-weight: 900;
  font-size: 18px  ;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}
/* --------------- advantages --------------- */
.background {
  background-color: #e5e5e5;
}
.advantages-container h3,
.about-us h2,
.contacts h2 {
  font-weight: 900;
  font-size: 47px  ;
  line-height: 48px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}
.advantages-container p {
  color: #464646;
}
.about-us p,
.contacts p {
  color: #464646;
  letter-spacing: normal;
}
.about-us__companies li {
  font-weight: 900;
  font-size: 16px  ;
  line-height: 40px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}

/* ------------------------- footer ------------------------- */
.main-footer,
.main-footer a {
  color: white;
}
.main-footer .container {
  background-color: #464646;
}
.main-footer .main-logo {
  color: #ffc600;
}
.main-footer .user-menu {
  line-height: 36px;
}
.main-footer .adress-nav-phone p {
  line-height: 30px;
  letter-spacing: normal;
}
.main-footer .main-nav a {
  font-weight: 900;
  font-size: 18px  ;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.main-footer .socials a {
  font-size: 0;
}
/* ------------------------- popup ------------------------- */
.write-us label {
  font-weight: 900;
  font-size: 18px  ;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  letter-spacing: normal;
}
.write-us input,
.write-us textarea {
  background-color: #f2f2f2;
  border: none;
}

/* ============================== Catalog.html ============================== */
/* ------------------------- main ------------------------- */
main h1 {
  font-weight: 900;
  font-size: 47px  ;
  line-height: 48px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}
main .breadcrumbs li {
  font-size: 14px;
  line-height: 24px;
  text-transform: none;

  opacity: 0.3;
}
.gray-font-container {
  font-weight: 900;
  font-size: 16px  ;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.91px;

  background-color: rgba(0, 0, 0, 0.08);
}
.gray-font-container h2 {
  font-size: 16px  ;
  line-height: 24px;
}
.gray-font-container span {
  background-color: rgba(0, 0, 0, 0.08);
}
.gray-font-container li {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", Arial, sans-serif;
  text-transform: none;
	letter-spacing: normal;
	opacity: 0.3;
}
.gray-font-container li:nth-child(1) {

	opacity: 1;
}
/* --------------- filter form --------------- */
.filter .filter-legend {
	font-weight: 900;
  font-size: 18px  ;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  letter-spacing: 0.18px;
}
.filter .filter-button~label,
.filter .filter-bluetooth~label {
	font-size: 14px;
	line-height: 40px;
	letter-spacing: 0.14px;
}
.filter input[type="checkbox"]+label {
	font-size: 14px;
	line-height: 24px;
	letter-spacing: normal;
}
/* --------------- shop container --------------- */
.shop-container .product-card h3 {
	font-weight: 900;
  font-size: 18px  ;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  letter-spacing: 0.18px;
}
.shop-container .product-card span {
	font-weight: 300;
  font-size: 16px  ;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
	letter-spacing: 0.16px;
	color: #464646;
}
.paginator {
	font-weight: 900;
  font-size: 16px  ;
  line-height: 24px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
	letter-spacing: 0.91px;
	text-transform: uppercase;
}
.paginator li:nth-child(n+2) {
	opacity: 0.3;
}